.sendForm {
 margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
}

.textarea {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 0;
    border-radius: 20px;
    background-color: #f5f7fb;
    resize: none;
    box-shadow: 2px 2px 5px #ccc;
    padding: 10px;
    font-weight: normal;
}

.button {
    margin-right: 50px;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border-width: 0;
    background-color: #0066cc;
    color: white;
}

.button:hover {

}
.button:active {

}
